* {
  box-sizing: border-box;
}
header {
  text-align: center;
}
main {
  display: flex;
  width: 640px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

main > p {
  text-align: center;
  width: 100%;
}

.cards {
  border: 5px solid black;
  border-radius: 0.5em;
  margin: 1em;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  background-color: #ff8e3b;
  border-color: #ff8e3b;
}
